@page "/forface/new";
@using Models;
@inject NavigationManager NavigationManager
@inject IClientPost postClient;
@inject UserContext user;
@inject ILanguageService lang;

<PageTitle>@lang.GetPhrase("newPost")</PageTitle>

<h3>@lang.GetPhrase("newPost")</h3>

<EditForm model="post" OnValidSubmit="HandleValidSubmit" FormName="post-form">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="title">Title:</label>
        <input @bind="postTitle" type="text" id="title" name="postTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label for="director">My post:</label> <br>
        <input @bind="postContent" type="text" id="content" name="postContent" style="width: 100%; height: 200px;"/>
    </div>

    <button type="submit" class="btn btn-primary">@lang.GetPhrase("publish")</button>
</EditForm>


@code {
    private string postTitle;
    private string postContent;

    
    private async void HandleValidSubmit()
    {
        Post post = new Post();
        post.Title = postTitle;
        post.Content = postContent;
        post.CreatedAt = DateTime.Now;
        post.User = user.GetUserProfile();
        post.Comments = new List<Comment>();
        
        await postClient.PostPost(post);
        NavigationManager.NavigateTo("/main/forface");
    }
}

