#logout-modal, #login-modal, #register-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;

    width: 300px;

    border: 5px solid #6d919a;
    border-radius: 5px;
    background-color: rgba(255, 230, 230, 0.5);

    text-align: center;
    padding: 10px;
}

#login-form{
    padding: 5px;
    justify-content: left;
}

input.auth{
    margin: 2px;
    border: 2px solid #ccc;
    border-radius: 2px;
}

input:hover.auth{
    border: 2px solid #555;
}

button.auth {
    margin: 2px;
    border: 2px solid #ccc;
    border-radius: 2px;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    width: 70px;
}

button:hover.auth{
    border: 2px solid #555;
    background-color: #3e8e41;
}