html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#side-menu-navigation-bar {
    width: 100%;
    text-align: center;
}

.side-menu-navigation-bar__menu {
    width: 100%;
}

.side-menu-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    height: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.side-menu-button:hover {
    background-color: #3e8e41;
}

#upper-menu-navigation-bar-anc{
    width: 100%;
    background-color: beige;
    padding: 5px;
    border-bottom: 5px solid #6d919a;
}

#upper-menu-navigation-bar {
    width: 100%;
    background-color: beige;
    padding: 5px;
}

button, .upper-menu-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto; 
    margin-right: 0;
}

button:hover, .upper-menu-button:hover {
    background-color: #3e8e41;
}

#upper-menu-navigation-bar {
    width: 100%;
    margin-right: 0;
    border-bottom: 5px solid #6d919a;
    background-color: beige;
}

.upper-menu-navigation-bar__menu {
    margin: 0;
}

.main-page-layout {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-side-content .right-side-content {
    height: 100%;
    padding: 5px;
}

.right-side-content {
    width: 80%;
}

.left-side-content {
    width: 20%;
    background-color: #3e7e8e;
    border-right: 5px solid #6d919a;
}

.main-page-content {
    width: 100%;
    height: 100%;
}