@page "/calculator"

<h3>Calculator</h3>


<div>
   @* <input type="number" value="@number1" />
    <input type="number" value="@number2" />*@
    <input type="number" @bind="number1" />
    <input type="number" @bind="number2" />
    <button @onclick="Sum">Add</button>

</div>

@if (wynik != null)
{
    <p>Wynik: @wynik</p>
}

@code {
    double number1 = 5;
    double number2 = 6;
    double? wynik = null;

    void Sum()
    {
        wynik = number1 + number2;
    }
}
