@page "/filmadd"
@inject NavigationManager NavigationManager
@inject IFilmClientService _filmService
@using Shared.Services
@using Shared.Model 

<h3>Add Film</h3>

<EditForm Model="film" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="title">Title:</label>
        <InputText id="title" @bind-Value="film.Title" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="director">Director:</label>
        <InputText id="director" @bind-Value="film.Director" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="genre">Genre:</label>
        <InputText id="genre" @bind-Value="film.Genre" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="year">Year:</label>
        <InputNumber id="year" @bind-Value="film.Year" class="form-control"></InputNumber>
    </div>
    <div class="form-group">
        <label for="rating">Rating:</label>
        <InputNumber id="rating" @bind-Value="film.Rating" class="form-control"></InputNumber>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

@code {
    private FilmModel film = new FilmModel();


    private async void HandleValidSubmit()
    {
        film.Actors = new List<Actor>(){ new Actor() { Name = "Test" } };
        var response = await _filmService.CreateFilm(film);
        NavigationManager.NavigateTo("/filmlist");
    }
}
