@page "/newCalculator"

<h3>NewCalculator</h3>


<EditForm Model="model" OnValidSubmit="Sum">

    <div>
        <InputNumber @bind-Value="model.Number1" />
        <InputNumber @bind-Value="model.Number2" />
        <button type="submit">Add</button>
    </div>

</EditForm>

<p>Wynik: @model.Result</p>

@code {

    public class OperationModel
    {
        public int Number1 { get; set; }
        public int Number2 { get; set; }
        public int Result { get; set; }
    }

    OperationModel model = new OperationModel();


    void Sum()
    {
        model.Result = model.Number1 + model.Number2;    
    }

}
