.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    z-index: 10;
}

.popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 50%;
    height: fit-content;
}

.auth-btn {
    background-color: #00ffff;
    width: 300px;
    margin: 5px;

    border: none;
    border-radius: 5px;
    height: 38px;

    transition: all 0.5s ease;
}

.auth-btn:hover {
    background-color: #00a6a6;
    color: #00ffff;
}

.auth-btns {
    display:grid;
    justify-content: space-around;
    margin: 20px;
    padding: auto;
}