.paginator-btn {
    margin: 2px;
    border: none;
    background-color: #13e32c;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);

    transition: all 0.2s ease-in-out;
}

.paginator-btn:hover {
    box-shadow: 4px 4px 5px rgba(0,0,0,0.75);
    background-color: #11761c;
}

.paginator-container {
    margin: 10px;
}